{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
    <a href="{% url 'LearningNote:topic' topic.id %}">{{ topic }}</a>
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'LearningNote:edit_entry' entry.id %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">保存</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'LearningNote:index' %}"/>
    </form>

{% endblock content %}